<a href="https://colab.research.google.com/github/perseus98/ColabFILES/blob/master/fromkaggel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"afrozml","key":"2a8e80110e6baf37c54e40a9e2e7ba6c"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [0]:
!ls -l ~/.kaggle
!cat ~/.kaggle/kaggle.json

total 4
-rw------- 1 root root 63 Mar 28 11:48 kaggle.json
{"username":"afrozml","key":"2a8e80110e6baf37c54e40a9e2e7ba6c"}

In [0]:
!pip install -q kaggle
!pip install -q kaggle-cli

    100% |████████████████████████████████| 81kB 5.2MB/s
    100% |████████████████████████████████| 5.3MB 5.3MB/s
    100% |████████████████████████████████| 92kB 27.8MB/s
    100% |████████████████████████████████| 51kB 19.8MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for cliff (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [0]:
!kaggle datasets list

ref                                                          title                                                size  lastUpdated          downloadCount
-----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
ronitf/heart-disease-uci                                     Heart Disease UCI                                     3KB  2018-06-25 11:33:56          20921
jessicali9530/stanford-dogs-dataset                          Stanford Dogs Dataset                               735MB  2019-02-13 05:45:25           1776
russellyates88/suicide-rates-overview-1985-to-2016           Suicide Rates Overview 1985 to 2016                 396KB  2018-12-01 19:18:25          15580
lava18/google-play-store-apps                                Google Play Store Apps                                2MB  2019-02-03 13:55:47          45084
karangadiya/fifa19                                           FIFA 19 complete player dataset                       2MB  2018-12-21 03:52:59          17777
rmisra/news-headlines-dataset-for-sarcasm-detection          News Headlines Dataset For Sarcasm Detection          2MB  2018-06-09 22:14:56           2098
bigquery/crypto-ethereum-classic                             Ethereum Classic Blockchain                          70GB  2019-03-20 23:21:25              0
mohansacharya/graduate-admissions                            Graduate Admissions                                   9KB  2018-12-28 10:07:14          15553
safegraph/visit-patterns-by-census-block-group               Consumer & Visitor Insights For Neighborhoods        66MB  2018-12-19 21:31:50           1043
iarunava/cell-images-for-detecting-malaria                   Malaria Cell Images Dataset                         337MB  2018-12-05 05:40:21           3382
cityofLA/los-angeles-parking-citations                       Los Angeles Parking Citations                       255MB  2019-03-27 22:17:47           2615
vjchoudhary7/customer-segmentation-tutorial-in-python        Mall Customer Segmentation Data                       2KB  2018-08-11 07:23:02           5416
jessicali9530/celeba-dataset                                 CelebFaces Attributes (CelebA) Dataset                1GB  2018-06-01 20:08:48           5613
safegraph/census-block-group-american-community-survey-data  Census Block Group American Community Survey Data     2GB  2018-12-22 00:29:56            566
anokas/kuzushiji                                             Kuzushiji-MNIST                                     318MB  2018-12-17 01:19:31            672
noriuk/us-education-datasets-unification-project             U.S. Education Datasets: Unification Project         85MB  2019-03-02 18:41:52           2536
fivethirtyeight/fivethirtyeight-comic-characters-dataset     FiveThirtyEight Comic Characters Dataset            577KB  2019-03-26 15:01:15           1847
mdhrumil/top-5000-youtube-channels-data-from-socialblade     Top 5000 Youtube channels data from Socialblade.    128KB  2018-09-09 14:05:54           6292
pavansanagapati/urban-sound-classification                   Urban Sound Classification                            6GB  2018-06-16 13:44:36           1946
jutrera/stanford-car-dataset-by-classes-folder               Stanford Car Dataset by classes folder                2GB  2018-07-02 07:35:45           2383

In [0]:
!kaggle competitions list

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2595           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      10535            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       4231            True
imagenet-object-localization-challenge         2029-12-31 07:00:00  Research         Knowledge         36           False
competitive-data-science-predict-future-sales  2019-12-31 23:59:00  Playground           Kudos       2618           False
two-sigma-financial-news                       2019-07-15 23:59:00  Featured          $100,000       2927           False
aerial-cactus-identification                   2019-07-08 23:59:00  Playground       Knowledge        190           False
iwildcam-2019-fgvc6                            2019-06-07 23:59:00  Playground           Kudos         11           False
LANL-Earthquake-Prediction                     2019-06-03 23:59:00  Research           $50,000       2083           False
tmdb-box-office-prediction                     2019-05-30 23:59:00  Playground       Knowledge        530           False
dont-overfit-ii                                2019-05-07 23:59:00  Playground            Swag       1305           False
ciphertext-challenge-ii                        2019-04-25 23:59:00  Playground            Swag          5           False
data-science-for-good-careervillage            2019-04-23 23:59:00  Analytics          $15,000          0           False
gendered-pronoun-resolution                    2019-04-22 23:59:00  Research           $25,000        548           False
career-con-2019                                2019-04-11 23:59:00  Recruitment           Swag        995           False
santander-customer-transaction-prediction      2019-04-10 23:59:00  Featured           $65,000       7811           False
womens-machine-learning-competition-2019       2019-04-10 06:00:00  Featured           $25,000        504           False
mens-machine-learning-competition-2019         2019-04-09 06:00:00  Featured           $25,000        871           False
histopathologic-cancer-detection               2019-03-30 23:59:00  Playground       Knowledge       1116           False
petfinder-adoption-prediction                  2019-03-28 23:59:00  Featured           $25,000       2009           False

In [0]:
!kaggle competitions list -s diabetic

ref                             deadline             category    reward  teamCount  userHasEntered
------------------------------  -------------------  --------  --------  ---------  --------------
diabetic-retinopathy-detection  2015-07-27 23:59:00  Featured  $100,000        661           False

In [0]:
! kaggle competitions download -c 'titanic'

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 23.6MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 26.8MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.55MB/s]

In [0]:
ls

adc.json      gender_submission.csv  sample_data/  train.csv
diabetes.csv  kaggle.json            test.csv

In [0]:
import pandas as pd

In [0]:
!cd sample_data/

In [0]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S